{% if site.blog_link %}
	<section>
<h1>友情链接</h1>
	<ul>
	<li>
        <a href="http://chenhaoxiang.cn" target="_blank">本站已停更,请访问该网站</a>
		</li>
        <li>
        <a href="http://blog.csdn.net/qq_26525215" target="_blank">大学之旅_谙忆</a>
		</li>
		<li>
        <a href="http://blog.csdn.net/marksinoberg" target="_blank">纯臻</a>
		</li>
		<li>
		<a href="http://blog.csdn.net/u013097262" target="_blank">Dream_M</a>
		</li>
		<li>
		<a href="https://bbs.ksyun.com/forum.php" target="_blank">金山云</a>
		</li>
</ul>
</section>

{% endif %}