<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">基本信息</h2>

            <dl class="dl-horizontal clear-mrg">
                <dt class="text-upper">笔名</dt>
                <dd>谙忆</dd>

                <dt class="text-upper">出生年份</dt>
                <dd>1997年</dd>

                <dt class="text-upper">e-mail</dt>
<!--                <dd><a href="mailto:fly@feilianyun.cn">fly@feilianyun.cn</a></dd>-->
                <dd>fly@feilianyun.cn</dd>

                <dt class="text-upper">学校&最高学历</dt>
                <dd>湖南城市学院&本科学士学位</dd>

                <dt class="text-upper">座右铭</dt>
                <dd>学不止步,梦不停歇</dd>

                <dt class="text-upper">头衔</dt>
                <dd>亚太人工智能学会AIGC委员会理事</dd>
            </dl>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
