<section class="section" id="my_book">
    <h2 class="title-thin text-muted">出版著作</h2>

    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <div class="award-box">
                <img style="padding-left: 1px;" src="{{ 'styles/img/book/4727fd38dd79f8643099c8ac8a61eb.jpg' | prepend: site.baseurl }}"
                     alt="《SSM深入解析与企业项目实战》书籍封面">
            </div>

            <h3 class="award-title mt-10">《SSM（Spring MVC+Spring+MyBatis）深入解析与企业项目实战》书籍封面</h3>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
    <div class="row mt-20">
        <div class="col-sm-4 clear-mrg">
            <div class="award-box">
                <img style="padding-left: 1px;" src="{{ 'styles/img/book/29547524-1_w_1.jpg' | prepend: site.baseurl }}"
                     alt="《SSM深入解析与企业项目实战》书籍">
            </div>
        </div><!-- .col-sm-4 -->
        <div class="col-sm-4 clear-mrg">
            <div class="award-box">
                <img style="padding-left: 1px;" src="{{ 'styles/img/book/29547524-2_u_1.jpg' | prepend: site.baseurl }}"
                     alt="《SSM深入解析与企业项目实战》书籍">
            </div>
        </div><!-- .col-sm-4 -->
        <div class="col-sm-4 clear-mrg">
            <div class="award-box">
                <img style="padding-left: 1px;" src="{{ 'styles/img/book/29547524-5_u_1.jpg' | prepend: site.baseurl }}"
                     alt="《SSM深入解析与企业项目实战》书籍">
            </div>
        </div><!-- .col-sm-6 -->
        <h3 class="award-title mt-10">
            <a href="https://product.dangdang.com/29547524.html" target="_blank">点我去当当网购买</a>
        </h3>
    </div><!-- .row -->

</section><!-- .section -->
