<section class="section brd-btm" id="certification">
    <h2 class="title-thin text-muted">其他</h2>

    <div class="row" style="margin-bottom: 30px">
        <div class="col-sm-6 clear-mrg">
            <div class="award-box" style="margin-bottom: 5px">
                <img src="{{ '/styles/img/souche/1.jpeg' | prepend: site.baseurl }}" alt="">
            </div>
            <h3 class="award-title">签约的第一本书籍</h3>
        </div><!-- .col-sm-6 -->

        <div class="col-sm-6 clear-mrg">
            <div class="award-box" style="margin-bottom: 5px">
                <img src="{{ '/styles/img/souche/4.jpeg' | prepend: site.baseurl }}" alt="">
            </div>
            <h3 class="award-title">2050社区</h3>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->

    <div class="row" style="margin-bottom: 30px">
        <div class="col-sm-6 clear-mrg">
            <div class="award-box" style="margin-bottom: 5px">
                <img src="{{ '/styles/img/souche/3.jpeg' | prepend: site.baseurl }}" alt="">
            </div>
            <h3 class="award-title">开源者线下聚会</h3>
        </div><!-- .col-sm-6 -->

        <div class="col-sm-6 clear-mrg">
            <div class="award-box" style="margin-bottom: 5px">
                <img src="{{ '/styles/img/souche/2.jpeg' | prepend: site.baseurl }}" alt="">
            </div>
            <h3 class="award-title">阿里云ACE</h3>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->

    <div class="row" style="margin-bottom: 30px">
        <div class="col-sm-6 clear-mrg">
            <div class="award-box" style="margin-bottom: 5px">
                <img src="{{ '/styles/img/souche/6.jpeg' | prepend: site.baseurl }}" alt="">
            </div>
            <h3 class="award-title">阿里云栖大会-百城汇主持</h3>
        </div><!-- .col-sm-6 -->

        <div class="col-sm-6 clear-mrg">
            <div class="award-box" style="margin-bottom: 5px">
                <img src="{{ '/styles/img/souche/8.jpg' | prepend: site.baseurl }}" alt="">
            </div>
            <h3 class="award-title">阿里云栖大会-百城汇杭州站</h3>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->

    <div class="row" style="margin-bottom: 30px">
        <div class="col-sm-6 clear-mrg">
            <div class="award-box" style="margin-bottom: 5px">
                <img src="{{ '/styles/img/souche/5.png' | prepend: site.baseurl }}" alt="">
            </div>
            <h3 class="award-title">CSDN2020年博客之星Top12</h3>
        </div><!-- .col-sm-6 -->

        <div class="col-sm-6 clear-mrg">
            <div class="award-box" style="margin-bottom: 5px">
                <img src="{{ '/styles/img/souche/9.jpeg' | prepend: site.baseurl }}" alt="">
            </div>
            <h3 class="award-title">InfoQ签约作者</h3>
        </div><!-- .col-sm-6 -->

    </div><!-- .row -->

    <div class="row" style="margin-bottom: 30px">
        <div class="col-sm-6 clear-mrg">
            <div class="award-box" style="margin-bottom: 5px">
                <img src="{{ '/styles/img/bufen.png' | prepend: site.baseurl }}" alt="">
            </div>
            <h3 class="award-title">其他部分荣誉</h3>
        </div><!-- .col-sm-6 -->
        <div class="col-sm-6 clear-mrg">
            <div class="award-box" style="margin-bottom: 5px">
                <img src="{{ '/styles/img/souche/7.jpeg' | prepend: site.baseurl }}" alt="">
            </div>
            <h3 class="award-title">健康的身体是一切的前提</h3>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->

    <div>
        CSDN博客专家、CSDN签约作者、阿里云社区认证专家、华为云认证专家、阿里云ACE杭州同城会会长...
    </div>
    <div> 还有很多很多的日常和工作上的事情，线下沙龙参加/主持、公司内部技术分享，由于过多，便不一一上图啦. </div>

</section><!-- .section -->
