<section class="section" id="personal_project">
    <h2 class="title-thin text-muted">发明专利</h2>

    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <img style="padding-left: 1px;" src="{{ '/styles/img/souche/zhuanli.png' | prepend: site.baseurl }}"
                     alt="专利交底书">
            </div>

            <h3 class="award-title">专利交底书</h3>
        </div><!-- .col-sm-6 -->
        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <img style="padding-left: 1px;" src="{{ '/styles/img/souche/zhuanli02.png' | prepend: site.baseurl }}"
                     alt="专利提案">
            </div>
            <h3 class="award-title">专利提案</h3>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->

    <h2 class="title-thin text-muted"><a href="http://pss-system.cnipa.gov.cn/sipopublicsearch/patentsearch/searchHomeIndex-searchHomeIndex.shtml" target="_blank">已公开专利</a></h2>
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <img style="padding-left: 1px;" src="{{ '/styles/img/souche/zhuanli03.png' | prepend: site.baseurl }}"
                     alt="专利公开号&已授权专利">
            </div>
            <h3 class="award-title">专利提案</h3>
        </div><!-- .col-sm-6 -->
        <div class="col-sm-6 clear-mrg">
            <ul>
                <li>专利公开号：CN 113495826 A</li>
                <li>专利公开号：CN 113535531 A</li>
                <li>专利公开号：CN 113535141 A</li>
                <li>专利公开号：CN 113535142 A</li>
                <li>专利公开号：CN 112052263 A</li>
                <li>专利公开号：CN 113935046 A</li>
                <li>专利公开号：CN 113934517 A</li>
                <li>专利公开号：CN 114254297 A</li>
                <li>专利公开号：CN 114254298 A</li>
                <li>专利公开号：CN 114254333 A</li>
                <li>专利公开号：CN 114254299 A</li>
                <li>专利公开号：CN 112363994 A</li>
                <li>专利公开号：CN 112328347 A</li>
                <li>专利公开号：CN 112527387 A</li>
                <li>已授权专利：CN 112015808 B</li>
                <li>已授权专利：CN 112367304 B</li>
                <li><a href="http://pss-system.cnipa.gov.cn/sipopublicsearch/patentsearch/searchHomeIndex-searchHomeIndex.shtml" target="_blank">国家知识产权局</a></li>
            </ul>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->

</section><!-- .section -->
