<section class="section brd-btm" id="start_business">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">创业经历</h2>
            <dl class="dl-horizontal clear-mrg">
                <dt class="text-upper">公司</dt>
                <dd><a href="https://feilianyun.cn/" target="_blank">杭州飞链云科技有限公司</a></dd>
                <dt class="text-upper">职位</dt>
                <dd>CEO&执行董事</dd>
<!--                <dt class="text-upper">头衔</dt>-->
<!--                <dd>CSDN博客专家、CSDN签约作者、CSDN2020年博客之星Top12、InfoQ签约作者、阿里云社区认证专家、阿里云ACE杭州同城会会长</dd>-->
            </dl>
        </div><!-- .col-sm-6 -->
        <div class="col-sm-6 clear-mrg">
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
    <div class="row mt-20">
        <div class="col-sm-12 clear-mrg">
            <div class="education">
                <div class="education-box mb-10" style="margin-bottom: 10px;">
                    <time class="education-date" datetime="2022-12TNow">
                        <span><strong class="text-upper">2022</strong>.12 - <strong>2097</strong></span>
                    </time>
                    <h3>创始人 | <a href="https://feilianyun.cn/" target="_blank">杭州飞链云科技有限公司</a></h3>
                    <span class="education-company">AI+Web3+文化 | 董事会</span>

                </div>
            </div>
        </div><!-- .col-sm-6 -->
        <div class="col-sm-12">
            <h4>为什么选择创业？</h4>
            <p> 梦想有一天可以改变世界，这个梦想现在也一直未变，未来也不会变。
                <br/><br/>在大学的时候便积极尝试创业，但那时候的自己欠缺的东西太多了，我不是什么天才，没有过目不忘的本事，没有超高的智商和超高的情商，我知道我是一个“笨”人，我还有非常多的东西需要学、需要积累，但只要我在学习的路上，我总有一天可以破茧。
                <br/><br/>对于我来说，选择技术路线而走向创业这是一条必然的路，只有这条路，我才能继续往很远的未来去走。有时候看似有很多选择，但是真正可以直接通向“成功”的路，永远都是只有一条，那条直线也一直都在。看你需要交多少“学费”才能绕回正轨。
                <br/><br/>理论上是条条大道通罗马，那是对于有足够多试错成本的人来说的，对于普通人而言，走错一步，最严重的情况下需要我们用整个人生进行弥补。
                <br/><br/>普通人选择走创业这条路，那就是在悬崖上走钢丝，必须准备好一往无前的勇气和不急不躁、心无旁骛的心态。另外，也一定要有一颗空杯的心，取他人之长，补自己之短。这些，仅仅是创业前自己要准备的心理基础。
                <br/><br/>从2014年开始研究的区块链，自己也一直走在内容创作的路上，在2022年研究的AI，当我把Web3和AI以及文化领域进行关联后，我的脑海意识中实实在在地出现了三岔路口，我就站在路中，时间如静止般等待我的走向。
                <br/><br/>第一条路是我选择继续打工，娶妻生子，顺应潮流。衣食无忧，一眼望尽此生。生死浮沉，生活琐事也是幸福。幸运的是，此条路我已在“梦”中走过，非你非他非此宇宙，心无憾也。
                <br/><br/>第二条路是我选择半打工的路，在这家公司继续积累自己的经验，后续再选择风险更小更合适的机会进行创业。如果我选择此条路，则未来在我带领下的创业公司一定会走向一条创业的“死路”（并非说不能赚钱）。这类人可能会是不错的二把手，但永远不适合我想要成为的那种创始人。我希望我打造的集团基业长青，以时代滚轮为画笔，在历史中留下重重一笔。可以为整个人类社会做出一点微不足道的贡献。
                <br/><br/>第三条路是我立即从公司出来，时机不待人。天时地利人和，现在不出来，以后需要花费指数级的代价进行补偿，你将错过近几十年普通人最后一波的时代红利，你将再也没有机会追赶在80年底、90时代、21世纪初崛起的那一波人。如果你还想抓住那崛起的最后一个小口，你必须立刻、马上，做好准备，纵使粉身碎骨，你也要一往无前。抓住这时代为普通人甩下的最后一个阶梯。
                <br/><br/>生而为梦想，此生终不悔
            </p>
            <h4>为什么选择在2022年出来创业？</h4>
            <p>  因为时机相对成熟了。2022年以前积累不够，2022年以后再出来进行追赶正在路上的人会花费更多的代价。
                <br/> 2022年，时间刚刚好，一切刚刚好。无论是资金、资源、积累。一切都是最好的安排。
            </p>
            <h4>你考虑过创业失败吗？</h4>
            <p>  当然，这是我在出来之前便已经考虑清楚的。
                <br/> 为最糟糕的情况已经做好准备。在走上创业的路上先铺垫好一些石子。
                <br/><br/> 1、创业之初准备好一些资金
                <br/> 2、学习相关公司法知识
                <br/> 3、找到法务合伙人、找到AI合伙人
                <br/> 4、准备好十余份合伙相关协议，提前和合伙人说清楚一切情况
                <br/> 5、准备好个人的银行负债并计算账单周期
                <br/> 6、开始的时候和身边创业过的朋友多聊，和身边阿里P9、P10的朋友多沟通。我朋友中有要投的，但是资金和占股差距过大，没再协商后续。多一个股东，也会多一份麻烦
                <br/><br/> 其实，还有很多没有准备好的地方，资源、人员、资金、财务方面都不够充分
                <br/> 但不影响我全职走出来，不影响我组建公司和团队，理论归理论，现实哪有那么尽善尽美，风来了，不会等你全部都准备好了再上战场。一切都一切，在过程中逐渐完善
                <br/><br/> 我通过合伙制度已经将公司“死亡”的风险降到了极低、在AI+Web3的创业公司中，我用现在的1分钱+未来9分的钱做完了现在产出1毛钱的事情。未来我要用未来当下的1分钱+空置的9分钱去做完未来当下产出1块钱、100块钱的事情。
                <br/><br/> 即使最终最糟糕最糟糕的情况发生时，我也不会后悔，那只能证明，时机还没到，这个金矿还需要继续挖。我们会一直在创业路上，人还在，希望就还在。
            </p>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->